<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoworth</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div class="container">
        <h1>AUTOWORTH</h1>
        <p>Araç Fiyat Tahmin Uygulamasına Hoşgeldiniz!</p>
        <div class="button-group">
            <a href="{{ url_for('predict') }}" class="button">Fiyat Tahmini</a>
            <a href="{{ url_for('statistics') }}" class="button">İstatistikler</a>
        </div>
    </div>
</body>
</html>
