<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İstatistikler</title>
    <link rel="stylesheet" href="../static/statistics.css">
</head>
<body>
    <div class="container">
        <h1>Meraklısına İstatistikler</h1>
        <div class="statistics-grid">
            <div class="stat-item">
                <img src="static/stats/stat1.png" alt="İstatistik 1" class="stat-image" id="stat1">
                <div class="stat-title">Marka Bazında Araç Sayısı</div>
            </div>
            <div class="stat-item">
                <img src="static/stats/stat2.png" alt="İstatistik 2" class="stat-image" id="stat2">
                <div class="stat-title">Marka ve Ortalama Fiyat Dağılımı</div>
            </div>
            <div class="stat-item">
                <img src="static/stats/stat3.png" alt="İstatistik 3" class="stat-image" id="stat3">
                <div class="stat-title">Yıl ve Ortalama Fiyat Değişimi</div>
            </div>
            <div class="stat-item">
                <img src="static/stats/stat4.png" alt="İstatistik 4" class="stat-image" id="stat4">
                <div class="stat-title">Araç Yaşı ve Fiyat İlişkisi</div>
            </div>
            <div class="stat-item">
                <img src="static/stats/stat5.png" alt="İstatistik 5" class="stat-image" id="stat5">
                <div class="stat-title">Yakıt Tipine Göre Araç Dağılımı</div>
            </div>
            <div class="stat-item">
                <img src="static/stats/stat6.png" alt="İstatistik 6" class="stat-image" id="stat6">
                <div class="stat-title">Kilometre ve Fiyat İlişkisi</div>
            </div>
            <div class="stat-item">
                <img src="static/stats/stat7.png" alt="İstatistik 7" class="stat-image" id="stat7">
                <div class="stat-title">Yıl ve Kilometre Dağılımı</div>
            </div>
        </div>
        <div id="modal" class="modal">
            <span id="close" class="close">&times;</span>
            <img class="modal-content" id="modal-img">
        </div>
    </div>

    <script src="../static/statistics.js"></script>
</body>
</html>


